In [2]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

# 1. POPULASI

In [4]:
#SAMPLE
# Specify the path to your .xlsx file
# file_path = "C://Users//LENOVO//Downloads//STATIN_DATA//sample_wildfire_weather_data.csv"

# # Read the CSV file
# df = pd.read_csv(file_path)


#POPULASI
file_path = "C://Users//LENOVO//Downloads//STATIN_DATA//sample_wildfire_weather_data.csv"

# Read the CSV file
df = pd.read_csv(file_path)

# Display the DataFrame
df

    Region  Estimated_fire_area  Temperature_Mean  WindSpeed_Mean
0       WA           639.982000         23.390953        3.551176
1       WA           593.569167         23.552620        4.091700
2       WA            37.345455         14.617797        4.637551
3       WA           544.986486         25.227217        4.334514
4       WA            35.823600         19.427573        4.840414
..     ...                  ...               ...             ...
387     TA            29.795000          8.267706        1.748738
388     TA            35.423571         19.759433        3.482381
389     TA            14.536667         10.675490        2.851847
390     TA             1.000000          9.040038        3.716907
391     TA             2.200000         17.762332        2.908519

[392 rows x 4 columns]

In [17]:

grouped_df = df.groupby("Region").mean()
grouped_df.reset_index(inplace=True)  # Resetting index to include 'Region' as a column
counts = df.groupby("Region").size()
counts = counts.reset_index(name='Count')

# Merge the counts with the grouped dataframe on 'Region'
grouped_df = pd.merge(grouped_df, counts, on='Region')

print(grouped_df)

  Region  Estimated_fire_area  Temperature_Mean  WindSpeed_Mean  Count
0    NSW           125.199327         19.206791        3.337349     69
1     NT           185.693129         24.942905        3.812311     75
2     QL           125.650626         23.563832        3.632802     82
3     SA            14.715306         24.072112        4.134668     29
4     TA            10.092868         12.781745        3.787335     21
5     VI            33.717442         14.801808        3.115156     32
6     WA           242.687277         22.592625        4.173649     84